report-entry {
  .report-entry-details{
    margin: 0 !important;
  }
  div.swiper-pagination {
    top: 10px;
    bottom: inherit;
  }

  ion-slides {
    height: auto;
  }

  ion-slide {
    padding-top: 20px;
  }

  .form-input {
    .item-ios .item-button[icon-only] ion-icon,
    .item-ios .item-button[icon-only] {
      padding: 5px;
    }

    ion-input {
      background-color: #F5F8FC;
      border: 1px solid #D3DAE9;
      box-sizing: border-box;
      border-radius: 3px;
      color: #3C4044;
      padding: 0;
    }

    .item-select {
      background-color: #F5F8FC;
      border: 1px solid #D3DAE9;
      box-sizing: border-box;
      border-radius: 3px;
      color: #3C4044;
      padding: 0;

      ion-select {
        max-width: 100% !important;
        width: 100% !important;
        right: auto !important;
        direction: ltr !important;
        padding-left: 0 !important;
      }
    }
  }
}
