<ion-list class="report-entry-details">
  <ion-item color="j3light">
    <h2 class="typo-rb14">Bonggo (HI990, 108347XX00AE543)</h2>
    <p class="typo-r12">Business: ACME X</p>
    <p class="typo-r12">Last Inspected: 23 Feb 2019</p>
    <p class="typo-r12">Status: No Certificate</p>
  </ion-item>
</ion-list>
<inspection-entry></inspection-entry>
