page-login {
  ion-content {
    background: url('../assets/imgs/login2.png') fixed no-repeat bottom right !important;
    background-size: cover !important;
    background-color: #F5F8FC !important;
  }

  .card-header {
    color: color($colors, j3dark);
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 36px;
    padding-bottom: 28px;
  }

  .loginContent {
    // background: #E5E5E5;
    text-align: center;
    height: 100%;

    .loginCard {
      margin: 0;
      width: 100%;

      .text-input {
        padding-left: 10px;
      }
    }

    .tabletLoginCard {
      margin-left: 25% !important;
      margin-right: 25% !important;
      width: auto !important;
    }

    .loginLogo {
      margin-top: 48px;
      margin-bottom: 10px;
      width: 60px;
      height: 61.3px;
      left: 150px;
      top: 48px;
    }

    .app-title {
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 25px;
    }

    .forgot {
      font-size: 14px;
    }

    ion-input,
    ion-select {
      background-color: #F5F8FC;
      border: 1px solid #D3DAE9;
      box-sizing: border-box;
      border-radius: 3px;
      color: #3C4044;
      padding: 0;
    }
  }


}
