<ion-content>
  <div class="loginContent">
    <img class="loginLogo" src="./assets/imgs/logo.png">
    <div class="app-title">EIS</div>
    <form [formGroup]="loginForm" (ngSubmit)="loginApp()">
      <ion-card class="loginCard" [ngClass]="{'tabletLoginCard': platform.is('tablet')}">
        <ion-card-header text-center no-lines>
          Login
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="text" class="typo-r14" [class.invalid]="submitted && f.username.errors" placeholder="Username"
              name="username" formControlName="username"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.username.errors" class="help-block" text-wrap>
            <div *ngIf="f.username.errors.required">
              <ion-icon name="md-warning" item-start color="j3warning"></ion-icon> Username is required.
            </div>
          </div>
          <div style="padding-bottom: 12px"></div>
          <ion-item>
            <ion-input type="password" class="typo-r14" [class.invalid]="submitted && f.password.errors" placeholder="Password" name="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.password.errors" class="help-block" text-wrap>
            <div *ngIf="f.password.errors.required">
              <ion-icon name="md-warning" item-start color="j3warning"></ion-icon> Password is required.
            </div>
          </div>
        </ion-card-content>
        <div padding>
          <button ion-button block color="j3" type="submit">Login</button>
          <a ion-button icon-left color="j3dark" clear block (click)="forgotPassword()">
            <div class="typo-r14" style="text-transform: none !important;">Forgot Username/Password?</div>
          </a>
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-title><small ion-text color="j3" class="">www.j3solutions.com.ph</small></ion-title>
</ion-footer>
