<ion-tabs>
    <ion-tab [root]="homeRoot" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="inspectionsRoot" tabIcon="md-clipboard" tabBadgeStyle="j3warning" tabBadge="&nbsp;"></ion-tab>
    <ion-tab [root]="reportsRoot" tabIcon="md-list-box"></ion-tab>
    <ion-tab [root]="barcodeRoot" tabIcon="md-qr-scanner"></ion-tab>
    <ion-tab [root]="profileRoot" tabIcon="md-contact"></ion-tab>
</ion-tabs>
