<ion-content>
  <ion-list class="form-input">
    <ion-item no-lines>
      <h2 class="typo-rb14">Remarks</h2>
      <p class="typo-r12">{{params.name}}</p>
    </ion-item>
    <ion-item no-lines>
      <ion-textarea rows="7" [(ngModel)]="params.remarks" class="typo-r14"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button block color="light" (click)="close()">Cancel</button>
    </ion-col>
    <ion-col>
      <button ion-button block color="j3secondary" (click)="save()">OK</button>
    </ion-col>
  </ion-row>
</ion-footer>
