<ion-header>
  <ion-navbar>
    <ion-title>{{title}}<p class="subtitle">{{subtitle}}</p>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" [color]="(isOnline == true) ? 'j3secondary': 'j3note'"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <inspection-details *ngIf="action=='inspection_details'" [inspection]="inspection" [refresh]="refreshNotification" [viewWillEnter]="viewWillEnterEvent"></inspection-details>
  <report-details *ngIf="action=='report_details'"></report-details>
  <report-details-scan *ngIf="action=='report_details_scan'"></report-details-scan>
</ion-content>
