<div *ngIf="showContent">
  <ion-list>
    <div *ngIf="equipmentsArr && equipmentsArr.length > 0">
      <ion-item (click)="viewDetails(item,$event)" *ngFor="let item of equipmentsArr" [color]="item.color" [ngClass]="{
        'item-notif-success': item.request_status == 'In progress', 'item-notif-warning':item.request_status == 'Pending Inspection'
      }">
        <h2 class="typo-rb14" ion-text>{{item.equipment_name}} <span *ngIf="item.hasDraft" ion-text color="j3warning">(draft)</span></h2>
        <p class="typo-r14">{{item.full_equipment_name}}</p>
        <p class="typo-r14">{{item.location}}</p>
        <div item-end>
          <ion-note class="typo-rb14" ion-text [color]="item.note_color" padding-right>{{item.inspection_date_formatted}}</ion-note>
          <ion-icon name="md-more" color="j3navs" (click)="presentActionSheet(item,$event)"></ion-icon>
        </div>
      </ion-item>
    </div>
    <!-- <ion-item tappable (click)="viewDetails()">
    <h2 class="typo-r16" color="j3secondary">Dolorem Malipsum</h2>
    <p>Toyota, HP2019</p>
    <p>Balulang, Cagayan de Oro</p>
    <div item-end>
      <ion-note class="typo-rb14" ion-text color="j3secondary" padding-left>23 Feb</ion-note>
      <ion-icon name="md-more" color="j3navs"></ion-icon>
    </div>
  </ion-item>
  <ion-item tappable (click)="viewDetails()">
    <h2 class="typo-r16" ion-text color="j3note">Zzzed</h2>
    <p ion-text color="j3note">Toyota, HP2019</p>
    <p ion-text color="j3note">Balulang, Cagayan de Oro</p>
    <div item-end>
      <ion-note class="typo-rb14" ion-text color="j3note" padding-left>23 May</ion-note>
      <ion-icon name="md-more" color="j3navs"></ion-icon>
    </div>
  </ion-item> -->
  </ion-list>
  <div class="myCard2" *ngIf="equipmentsArr && equipmentsArr.length < 1">
    <div padding text-center><img src="./assets/icon/construction/svg/trucking-6.svg" /></div>
    <ion-card-content>
      <p text-center ion-text color="danger" class="typo-rb14">No equipments found</p>
    </ion-card-content>
  </div>
</div>
<ion-list *ngIf="!showContent">
  <ion-item *ngFor="let item of fakeArr">
    <skeleton-item></skeleton-item>
    <skeleton-item height="8px" width="67%"></skeleton-item>
  </ion-item>
</ion-list>
