page-sync {
  ion-content {
    background: #FFFFFF;
  }

  .toolbar-background {
    background: #FFFFFF;
    border-style: none !important;
  }

  .loading-text {
    position: absolute;
    bottom: 15rem;
    left: 40%;
  }

  .progress-bar {
    height: 6px;
    width: calc(100% - 10rem);
    margin-left: 25px;
    position: absolute;
    bottom: 15rem;
    overflow: hidden;
    border-radius: 3px;
    background: #DFE3EC;

    .progress {
      background: map_get($colors, 'primary');
      height: 100%;
    }
  }

}
