<ion-header>
</ion-header>
<ion-content padding>
  <div class="myCard2" padding-bottom>
    <div padding text-center><img src="./assets/imgs/EIS_Logo.png" /></div>
  </div>
  <div class="myCard2" padding-bottom>
    <div class="loading-text">
      <p text-center ion-text color="j3dark" class="typo-r14">Loading data...</p>
    </div>
    <div class="progress-bar">
      <div class="progress" [style.width]="timer + '%'"></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div text-center>
      <span class="typo-r14" ion-text color="j3dark">J3 Equipment Inspection System App</span>
      <p class="subtitle" ion-text color="j3dark">v1.0.0.0</p>
    </div>
  </ion-toolbar>
  <ion-toolbar></ion-toolbar>
</ion-footer>
