<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile<p class="subtitle">{{user.username}}</p>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" [color]="(isOnline == true) ? 'j3secondary': 'j3note'"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-6>
        <p class="typo-r14">Username</p>
        <h2 class="typo-rb14">{{user.username}}</h2>
      </ion-col>
      <ion-col col-6>
        <p class="typo-r14">Business</p>
        <h2 class="typo-rb14">{{user.business_name}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p class="typo-r14">Role</p>
        <h2 class="typo-rb14">{{user.role}}</h2>
      </ion-col>
    </ion-row>
    <ion-row padding-top>
      <h2 class="typo-r14 border-bottom">Personal Information</h2>
      <div>
        <h2 class="typo-rb14">{{user.username}}</h2>
        <p>{{user.address_line_1}} {{user.address_line_2}} <br>{{user.city}} {{user.state_province}}
          {{user.zip_postcode}}</p>
      </div>
    </ion-row>
    <ion-row padding-top>
      <h2 class="typo-r14 border-bottom">Contact Information</h2>
      <ion-col col-6>
        <p class="typo-r14">Mobile</p>
        <h2 class="typo-rb14">{{user.contact_mobile}}</h2>
      </ion-col>
      <ion-col col-6>
        <p class="typo-r14">Home</p>
        <h2 class="typo-rb14">{{user.contact_mobile}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p class="typo-r14">Email Address</p>
        <h2 class="typo-rb14">{{user.contact_email}}</h2>
      </ion-col>
      <ion-col col-6></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div padding>
    <button ion-button block color="j3" outline small (click)="update()" disabled="true">Edit Profile</button>
    <button ion-button block color="j3" outline small (click)="sync()">Sync Data</button>
    <button ion-button block color="j3" outline small (click)="signOut()">Sign Out</button>
  </div>
</ion-footer>
