page-user-profile {
  .toolbar-title {
    overflow: visible;
    position: relative;

    .subtitle {
      font-size: 66%;
      margin: 0;
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal !important;
      font-weight: normal !important;
      line-height: normal !important;
    }
  }
}
