<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inspections</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" [color]="(isOnline == true) ? 'j3secondary': 'j3note'"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showContent">
    <ion-item tappable (click)="viewDetails(item, $event)" *ngFor="let item of inspectionsArr" [color]="item.color"
      [ngClass]="{
      'item-notif-success': item.request_status == 'In progress', 'item-notif-warning':item.request_status == 'Pending Inspection'
    }">
      <h2 class="typo-r16">{{item.business_name}}</h2>
      <p>Equipment: {{item.equipment_count}}</p>
      <p>Inspector: {{item.inspector_name}}</p>
      <div item-end>
        <ion-note class="typo-rb14" ion-text color="j3secondary" padding-right *ngIf="item.request_status=='In progress'">{{item.inspection_date_formatted}}</ion-note>
        <ion-note class="typo-rb14" ion-text color="j3warning" padding-right *ngIf="item.request_status=='Pending Inspection'">{{item.inspection_date_formatted}}</ion-note>
        <ion-note class="typo-rb14" ion-text color="j3navs" padding-right *ngIf="item.request_status=='Inspection Finished'">{{item.inspection_date_formatted}}</ion-note>
        <ion-icon name="md-more" color="j3navs" (click)="presentActionSheet(item,$event)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </ion-list>
</ion-content>
