<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" [color]="(isOnline == true) ? 'j3secondary': 'j3note'"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentTab" color="j3">
      <ion-segment-button value="pending">
        Pending
      </ion-segment-button>
      <ion-segment-button value="progress">
        In-Progress
      </ion-segment-button>
      <ion-segment-button value="complete">
        Completed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="showContent">
    <ion-item-group *ngIf="segmentTab == 'pending'">
      <ion-item *ngFor="let item of pendingArr" (click)="viewDetails(item,$event)">
        <h2 class="typo-r16">{{item.business_name}}</h2>
        <p>Equipment: {{item.equipment_count}}</p>
        <p>Inspector: {{item.inspector_name}}</p>
        <div item-end>
          <ion-note class="typo-rb14" ion-text color="j3warning" padding-right>{{item.inspection_date_formatted}}</ion-note>
          <ion-icon name="md-more" color="j3navs" (click)="presentActionSheet(item,$event)"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="segmentTab == 'progress'">
      <ion-item *ngFor="let item of inProgressArr" (click)="viewDetails(item,$event)">
        <h2 class="typo-r16">{{item.business_name}}</h2>
        <p>Equipment: {{item.equipment_count}}</p>
        <p>Inspector: {{item.inspector_name}}</p>
        <div item-end>
          <ion-note class="typo-rb14" ion-text color="j3secondary" padding-right>{{item.inspection_date_formatted}}</ion-note>
          <ion-icon name="md-more" color="j3navs" (click)="presentActionSheet(item,$event)"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="segmentTab == 'complete'">
      <ion-item *ngFor="let item of completedArr" (click)="viewDetails(item,$event)">
        <h2 class="typo-r16">{{item.business_name}}</h2>
        <p>Equipment: {{item.equipment_count}}</p>
        <p>Inspector: {{item.inspector_name}}</p>
        <div item-end>
          <ion-note class="typo-rb14" ion-text color="j3navs" padding-right>{{item.inspection_date_formatted}}</ion-note>
          <ion-icon name="md-more" color="j3navs" (click)="presentActionSheet(item,$event)"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list *ngIf="!showContent">
    <ion-item *ngFor="let item of fakeArr">
      <skeleton-item></skeleton-item>
      <skeleton-item height="8px" width="67%"></skeleton-item>
    </ion-item>
  </ion-list>
</ion-content>
