<ion-list>
  <button ion-item no-lines (click)="openRemarks()">
    <ion-icon name="md-list" item-start color="j3secondary"></ion-icon>
    <h2 class="typo-r14">Remarks</h2>
    <!-- <ion-icon name="md-checkmark" item-end></ion-icon> -->
  </button>
  <button ion-item no-lines (click)="uploadFile()">
    <ion-icon name="md-image" item-start color="j3secondary"></ion-icon>
    <h2 class="typo-r14">Upload Images</h2>
    <!-- <ion-icon name="md-checkmark" item-end></ion-icon> -->
  </button>
</ion-list>
