// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$mdi-font-path: "../fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #488aff,
secondary: #32db64,
danger: #f53d3d,
light: #f4f4f4,
dark: #222,
j3: #003A8F,
j3secondary: #0EB260,
j3dark: #3C4044,
j3navs:#949CAE,
j3light: #F5F8FC,
j3warning:#F15C0F,
j3lightwarning:#FFF6F2,
j3note: #aeacb4);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "../../node_modules/@mdi/font/scss/materialdesignicons.scss";


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url($font-path +'/OpenSans-Regular') format('ttf');
}

@mixin mdi-color($color-name, $color) {
  .mdi-ios-#{$color-name} {
    color: $color;
  }
  .mdi-md-#{$color-name} {
    color: $color;
  }
  .mdi-wp-#{$color-name} {
    color: $color;
  }
}

@each $color-name, $color-base, $color-contrast in get-colors($colors) {
  @include mdi-color($color-name, $color-base);
}

// Icons and buttons

@mixin button-icon {
  font-size: 1.3em;
  line-height: .67;

  pointer-events: none;
}

[icon-left] mdi-icon {
  @include button-icon;

  @include padding-horizontal(null, .3em);
}

[icon-right] mdi-icon {
  @include button-icon;

  @include padding-horizontal(.4em, null);
}

[icon-only] mdi-icon {
  @include padding(0, .5em);

  font-size: 1.8em;
  line-height: .67;

  pointer-events: none;
}
