<ion-list>
  <ion-item color="j3light" tappable (click)="viewDetails()">
    <h2 class="typo-rb14">Bonggo (HI990, 108347XX00AE543)</h2>
    <p class="typo-r12">Business: ACME X</p>
    <p class="typo-r12">Last Inspected: 23 Feb 2019</p>
    <p class="typo-r12">Status: No Certificate</p>
  </ion-item>
  <ion-item>
    <h2 class="typo-rb14">23 Feb 2019</h2>
    <p class="typo-r12">Inspector: Smith, J.</p>
    <div item-end>
      <ion-note class="typo-rb14" ion-text color="j3warning" padding-left>No Certificate</ion-note>
      <ion-icon name="md-more" color="j3navs"></ion-icon>
    </div>
  </ion-item>
  <ion-item tappable >
    <h2 class="typo-rb14" ion-text color="j3note">23 Feb 2019</h2>
    <p class="typo-r12" ion-text color="j3note">Inspector: Smith, J.</p>
    <div item-end>
      <ion-note class="typo-rb14" ion-text color="j3secondary" padding-left>23 May</ion-note>
      <ion-icon name="md-more" color="j3navs"></ion-icon>
    </div>
  </ion-item>
  <ion-item>
    <h2 class="typo-rb14" ion-text color="j3note">23 Feb 2019</h2>
    <p class="typo-r12" ion-text color="j3note">Inspector: Smith, J.</p>
    <div item-end>
      <ion-note class="typo-rb14" ion-text color="j3secondary" padding-left>23 May</ion-note>
      <ion-icon name="md-more" color="j3navs"></ion-icon>
    </div>
  </ion-item>
</ion-list>
