// Set backgrounds transparent so the QR Scanner can be seen behind the app.
html,
body,
.back-transparent,
ion-app,
.nav-decor {
  background: transparent !important;
}



html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: color($colors, j3dark);
}

mdi-icon {
  font-size: $mdi-font-size-base;
}

.font-14 {
  font-size: 14px !important;
}

.typo-r12 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 12px !important;
}

.typo-rb12 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal !important;
  font-size: 12px !important;
}

.typo-r14 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 14px !important;
}

.typo-rb14 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal !important;
  font-size: 14px !important;
}

.typo-r16 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal !important;
  font-size: 16px !important;
}


.assertive-bg {
  background: #ca1818;
}

.balanced-bg {
  background: #33cd5f;
}

.border-bottom {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #DFE3EC;
  padding-bottom: 10px;
}

.invalid {
  border: 1px solid color($colors, j3warning) !important;
}


.help-block {
  color: color($colors, j3warning);
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 2.4rem;
  text-align: left;
  padding-top: 12px;

  .label {
    margin: 0 !important;
  }
}


.bar-button-menutoggle {
  color: color($colors, j3dark);
}

.back-button {
  color: color($colors, j3dark);
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
  color: color($colors, j3dark);
  background-color: transparent;
}

.bar-button-clear-ios,
.bar-button-default.bar-button-ios-clear,
.bar-button-clear-ios-clear {
  color: color($colors, j3dark);
  background-color: transparent;
}

.tab-button-icon {
  color: color($colors, j3) !important;
}

.tab-button[aria-selected=true] .tab-button-icon {
  color: color($colors, dark) !important;
}

.tab-button:hover:not(.disable-hover),
.tab-button[aria-selected=true] {
  color: color($colors, dark) !important;
  background-color: #EBEEF5;
}

.item-notif-warning {
  border-left: 3px solid color($colors, j3warning);
}

.item-notif-success {
  border-left: 3px solid color($colors, j3secondary);
}


.offline-toast-notif-success {
  .toast-wrapper {
    transform: translateY(0%) !important;
    text-align: center;
    background-color: map-get($colors, secondary);
    border-radius: 0px !important;
    width: 100% !important;
    right: 0;
    left: 0;
    top: 35px !important;
    height: 30px;
  }

  .toast-message {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
}

.offline-toast-notif-danger {
  .toast-wrapper {
    transform: translateY(0%) !important;
    text-align: center;
    background-color: map-get($colors, danger);
    border-radius: 0px !important;
    width: 100% !important;
    right: 0;
    left: 0;
    top: 35px !important;
    height: 30px;
  }

  .toast-message {
    font-size: 1.3rem;
    padding: 0.7rem;
  }
}


.myCard2 {
  margin: 12px;
  width: calc(100% - 24px);
  font-size: 1.4rem;
  display: block;
  overflow: hidden;
  padding-top: 5em;

  img {
    width: 8em;
  }
}

ion-modal.remarks-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

ion-alert.select-alert {
  .alert-wrapper {
    max-width: 100%;
  }
}


.datetime-calendar {
  ion-icon {
    position: absolute;
    right: 6px;
    margin-top: 15px !important;
  }
}

.form-input {

  .item-ios .item-button[icon-only] ion-icon,
  .item-ios .item-button[icon-only] {
    padding: 5px;
  }

  .item-ios.item-label-stacked .text-input,
  .item-ios.item-label-floating .text-input {
    margin-left: 5px;
  }

  .form-input-control {
    .input-wrapper {
      padding-bottom: 5px;
    }
  }

  ion-input,
  ion-textarea {
    background-color: #F5F8FC;
    border: 1px solid #D3DAE9;
    box-sizing: border-box;
    border-radius: 3px;
    color: #3C4044;
    padding: 0;
  }

  ion-datetime {
    background-color: #F5F8FC;
    border: 1px solid #D3DAE9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    color: #3C4044;
    padding: 0;

    .datetime-text {
      margin-left: 5px;
      margin-top: 8px;
      margin-bottom: 8px;
    }


  }

  ion-select {
    width: 100%;
    max-width: 100%;

    background-color: #F5F8FC;
    border: 1px solid #D3DAE9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    color: #3C4044;
    padding: 11px 8px 11px 8px;

    .select-text {
      margin-left: 5px;
    }
  }
}

.myCardNotif {
  margin: 12px;
  width: calc(100% - 24px);
  font-size: 1.4rem;
  background: #fff;
  display: block;
  overflow: hidden;
  padding-top: 5em;

  img {
    width: 6em;
  }
}

.toolbar-title {
  overflow: visible;
  position: relative;

  .subtitle {
    font-size: 66%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: normal !important;
  }
}

.subtitle {
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
}
