<ion-menu [content]="content" *ngIf="auth.getSplitPane()">
  <!-- <ion-header>
  </ion-header> -->
  <ion-content>
    <ion-list *ngIf="isAuthenticated">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <mdi-icon [name]="p.icon" color="j3" item-start></mdi-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar *ngIf="isAuthenticated">
      <ion-item (click)="logOutApp()">
        <ion-icon name="md-exit" color="j3" item-start></ion-icon>
        Logout
      </ion-item>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title color="primary">{{_appVersion.appName}} <small ion-text color="primary">{{_appVersion.versionNumber}}</small></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
