<ion-header>
  <ion-navbar>
    <ion-title>{{title}}<p class="subtitle">{{subtitle}}</p>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" color="j3secondary"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <inspection-entry *ngIf="action=='inspection_details_entry'" [inspection]="inspection" [equipment]="equipment"
    [nextSlide]="_slideNext" [prevSlide]="_slidePrev" [create]="createNotification" [saveLocal]="saveNotification"
    [viewWillLeave]="viewWillLeaveNotification" (formBroadcast)="componentValidations($event)" (viewDidLeave)="viewDidLeave($event)"></inspection-entry>
  <!--
    ================================================================================
    ================================================================================
    ================================================================================
   -->
  <report-entry *ngIf="action=='report_details_entry'"></report-entry>
</ion-content>
<ion-footer>
  <ion-row *ngIf="action=='inspection_details_entry'">
    <ion-col col-auto>
      <button ion-button outline icon-only color="j3" (click)="saveLocally()" [disabled]="showLoading">
        <mdi-icon name="content-save"></mdi-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button block outline color="j3secondary" (click)="slideNext()" *ngIf="!showSubmit" [disabled]="showLoading">Next</button>
      <div *ngIf="showSubmit">
        <button ion-button block outline color="j3warning" *ngIf="hasWarnings" [disabled]="showLoading">Submit</button>
        <button ion-button block color="j3secondary" *ngIf="!hasWarnings" [disabled]="showLoading" (click)="saveEntry()">Submit</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="action=='report_details_entry'">
    <ion-col>
      <button ion-button block outline color="j3navs">Next</button>
    </ion-col>
  </ion-row>
</ion-footer>
