inspection-entry {
  div.swiper-pagination {
    top: 10px;
    bottom: inherit;
  }

  ion-slides {
    height: auto;
  }

  ion-slide {
    padding-top: 20px;
  }

  ion-input {
    .text-input[disabled] {
      opacity: 1;
    }
  }

  .images-wrapper {
    font-size: 0;

    .image-wrapper {
      display: inline-block;
      margin: 0;
      width: 33.3333%;
      box-sizing: border-box;
      padding: 1px;
      position: relative;

      .remove-image {
        z-index: 100;
        position: absolute;
        right: 1px;
        top: 1px;
        padding: 5px 6px;
        font-size: 20px;
        text-shadow: white 0 0 1px;
      }

      ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        * {
          stroke: white;
        }
      }

      .image {
        position: relative;
        background-size: cover;
        background-position: center center;

        img {
          width: 100%;

          &.uploading {
            background: rgba(0, 0, 0, 0.20);
          }
        }

        ion-icon {
          font-size: 50px;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%; // color: black;
        }

        .progress-bar {
          height: 6px;
          width: 100%;
          position: absolute;
          bottom: 0px;
          overflow: hidden;

          .progress {
            background: map_get($colors, 'primary');
            height: 100%;
          }
        }
      }

      &.add-image-btn .image {
        // background: #DDD;
        border: 2px dashed #D3DAE9;
        background: #EBEEF5;
      }
    }
  }

}
