<div *ngIf="showContent">
  <ion-slides pager (ionSlideReachEnd)="ionSlideReachEndEvent($event)" (ionSlideDidChange)="ionSlideDidChangeEvent()">
    <ion-slide>
      <h3 class="typo-rb14" text-center>Form Information</h3>
      <ion-list no-lines class="form-input">
        <ion-item margin-bottom>
          <ion-label stacked>Status <span ion-text color="j3warning">*</span></ion-label>
          <ion-label style="margin: 0 !important;" class="typo-r14">In Progress</ion-label>
          <ion-toggle [disabled]="disableProgress" [(ngModel)]="isProgress" [checked]="isProgress"
            (ionChange)="updateInspectionStatus(isProgress)" mode="md" color="j3secondary"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label stacked>Location <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" [(ngModel)]="business_equipment_basic_info.location"
            (ngModelChange)="onFormChanges()" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Owner <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.owner" disabled></ion-input>
        </ion-item>
        <ion-item class="datetime-calendar">
          <ion-label stacked>Date</ion-label>
          <ion-icon name="md-calendar" color="j3navs" item-right></ion-icon>
          <ion-datetime class="typo-r14" displayFormat="YYYY MMM DD" pickerFormat="YYYY MMM DD"
            (ngModelChange)="onFormChanges()" [(ngModel)]="inspection_info.inspection_date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>Inspector</ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="inspection_info.inspector_name" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h3 class="typo-rb14" text-center>Basic Information</h3>
      <ion-list no-lines class="form-input">
        <ion-item>
          <ion-label stacked>Manufacturer <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.manufacturer" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Model Number <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.model_number" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Serial Number <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.serial_number" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Year of Manufacturing <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.year_of_manufacturing" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Hour Meter Reading <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.hour_meter_reading" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Mileage <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.mileage" disabled></ion-input>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h3 class="typo-rb14" text-center>Specification and Dimensions</h3>
      <ion-list no-lines class="form-input">
        <ion-item text-wrap>
          <ion-label stacked>Serial Number Plate / Plate Frame Inscription <span ion-text color="j3warning">*</span>
          </ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.serial_number_plate" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Cabin - Canopy <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.canopy" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Window Venting/Open Air Circulation <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.window_venting" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Permits Posted <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.permit_posted" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Size of Tire <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.size" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Bucket Capacity <span ion-text color="j3warning">*</span></ion-label>
          <ion-input type="text" class="typo-r14" (ngModelChange)="onFormChanges()"
            [(ngModel)]="business_equipment_basic_info.bucket_capacity" disabled></ion-input>
        </ion-item>
        <!-- <ion-item-group padding-top>
        <ion-item-divider color="j3light" text-left>
          <b class="typo-r14">Engine</b>
          <ion-icon item-end name="md-arrow-dropdown"></ion-icon>
        </ion-item-divider>
        <ion-item text-wrap>
          <h2 class="typo-r12">
            (Noise Upon Startup / Noise Upon Idle / Noise Upon Shut Down)
          </h2>
          <ion-icon item-end name="md-list" color="j3navs" (click)="uploadFile()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-select class="typo-r14">
            <ion-option value="nes">NES</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
            <ion-option value="genesis">Sega Genesis</ion-option>
            <ion-option value="saturn">Sega Saturn</ion-option>
            <ion-option value="snes">SNES</ion-option>
          </ion-select>
        </ion-item>
        <ion-item text-wrap>
          <h2 class="typo-r12">
            (Engine Exhaust Color - White / Blue / Black / Clear)
          </h2>
          <button ion-button icon-only color="j3secondary" item-end (click)="uploadFile()">
            <ion-icon name="md-list"></ion-icon>
          </button>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="typo-r14"></ion-input>
        </ion-item>
        <ion-item text-wrap>
          <h2 class="typo-r12">
            (Oil Leaks)
          </h2>
          <ion-icon item-end name="md-list" color="j3navs" (click)="uploadFile()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="typo-r14"></ion-input>
        </ion-item>
      </ion-item-group> -->
      </ion-list>
    </ion-slide>
    <ion-slide *ngIf="checklistArr && checklistArr.length > 0">
      <h3 class="typo-rb14" text-center>Checklist</h3>
      <ion-list class="form-input">
        <ion-item-group *ngFor="let category of equipment_form_categoryArr" padding-top>
          <ion-item-divider color="j3light" (click)="category.show = !category.show">
            <span class="typo-r14">{{category.equipment_form_category_name}}</span>
            <ion-icon item-end name="md-arrow-dropdown" *ngIf="!category.show"></ion-icon>
            <ion-icon item-end name="md-arrow-dropup" *ngIf="category.show"></ion-icon>
          </ion-item-divider>
          <div *ngIf="category.show">
            <div *ngFor="let option of category.checkList">
              <ion-item text-wrap no-lines>
                <ion-label class="typo-r14">{{option.name}}</ion-label>
                <div item-end>
                  <ion-icon name="md-more" color="j3navs" (click)="showMoreActions(option,$event)"></ion-icon>
                </div>
              </ion-item>
              <!--
                    ========================================================================================
                    ========================================================================================
                    ========================================================================================
                   -->
              <ion-item text-wrap class="form-input-control" *ngIf="option.type == 'Text Input'" no-lines>
                <ion-input type="text" [(ngModel)]="option.value" class="typo-r14"></ion-input>
              </ion-item>
              <!--
                    ========================================================================================
                    ========================================================================================
                    ========================================================================================
                   -->
              <ion-item text-wrap class="form-input-control" *ngIf="option.type == 'Select'" no-lines>
                <ion-select (ngModelChange)="onFormChanges()" [(ngModel)]="option.value" class="typo-r14"
                  interface="action-sheet">
                  <ion-option [value]="item.value" *ngFor="let item of option.option_group_values" class="typo-r14">{{item.value
                    | uppercase}}</ion-option>
                </ion-select>
              </ion-item>
              <!--
                    ========================================================================================
                    ========================================================================================
                    ========================================================================================
                   -->
              <ion-item text-wrap class="form-input-control" *ngIf="option.type == 'Text Area'" no-lines>
                <ion-textarea row="5" [(ngModel)]="option.value" class="typo-r14"></ion-textarea>
              </ion-item>
              <!--
                    ========================================================================================
                    ========================================================================================
                    ========================================================================================
                   -->
              <ion-item text-wrap class="form-input-control" *ngIf="option.remarks">
                <h2 class="typo-rb14">Remarks:</h2>
                <p class="typo-r12">{{option.remarks}}</p>
              </ion-item>
              <ion-grid *ngIf="option.uploaded">
                <ion-row class="images-wrapper">
                  <div class="image-wrapper" *ngFor="let image of option.uploaded">
                    <div class="image">
                      <img [src]="image.public_path"
                        onError="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='"
                        imageViewer />
                    </div>
                  </div>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-item-group>
      </ion-list>
    </ion-slide>
  </ion-slides>
</div>

<div *ngIf="!showContent" center text-center padding-top>
  <p ion-text color="j3" class="typo-rb12">Loading Inspection ...</p>
  <ion-spinner name="dots" color="j3"></ion-spinner>
</div>
