<ion-content>
  <div class="loginContent">
    <img class="loginLogo" src="./assets/imgs/logo.png">
    <div class="app-title">EIS</div>
    <form [formGroup]="loginForm" (ngSubmit)="forgotPassword()">
      <ion-card class="loginCard">
        <ion-card-header text-center no-lines>
          Forgot Password
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="email" class="typo-r14" [class.invalid]="submitted && f.email.errors" placeholder="Email Address"
              name="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="help-block" text-wrap>
            <div *ngIf="f.email.errors.required">
              <ion-icon name="md-warning" item-start color="j3warning"></ion-icon> Email is required.
            </div>
          </div>
          <div style="padding-bottom: 12px"></div>
        </ion-card-content>
        <div padding>
          <button ion-button block color="j3" type="submit">Submit</button>
          <a ion-button icon-left color="j3dark" clear block (click)="loginApp()">
              <div class="typo-r14" style="text-transform: none !important;">Return to Login</div>
            </a>
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
