<!--
  Generated template for the FileuploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Upload</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="submitEntry()" [disabled]="isUploading">
        Submit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="isUploading" center text-center>
    <p ion-text color="j3" class="typo-rb12">Uploading ...</p>
    <ion-spinner name="dots" color="j3"></ion-spinner>
  </div>
  <ion-grid fixed>
    <div class="images-wrapper">
      <div class="image-wrapper" *ngFor="let image of imagesValue">
        <ion-icon class="remove-image" name="close" *ngIf="!isUploading" (click)="removeImage(image)"></ion-icon>
        <div class="image" [style.background-image]="image.sanitized">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            [class.uploading]="isUploading" alt="" />
          <ion-spinner *ngIf="isUploading && uploadingProgress[image.uuid]<100"></ion-spinner>
          <ion-icon color="secondary" name="checkmark" *ngIf="isUploading && uploadingProgress[image.uuid]==100"></ion-icon>
          <div *ngIf="isUploading" class="progress-bar">
            <div class="progress" [style.width]="(uploadingProgress[image.uuid]||0)+'%'"></div>
          </div>
        </div>
      </div>
      <div class="image-wrapper add-image-btn" *ngIf="!isUploading" (click)="showAddImage()">
        <div class="image">
          <ion-icon name="add"></ion-icon>
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
