<ion-list>
  <ion-card>
    <!-- <img src="./assets/icon/construction/svg/ico-receive.svg" /> -->
    <ngx-qrcode [qrc-value]="qrvalue" qrc-class="aclass" qrc-errorCorrectionLevel="L">
    </ngx-qrcode>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Business:</ion-label>
        <ion-note item-end class="typo-rb14">{{details.business_detail?.business_name}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Equipments:</ion-label>
        <ion-note item-end class="typo-rb14">{{details.equipment_count}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Inspector:</ion-label>
        <ion-note item-end class="typo-rb14">{{details.inspector_detail?.firstname}} {{details.inspector_detail?.lastname}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Last Inspected:</ion-label>
        <div item-end class="typo-rb14">
          <span ion-text color="j3warning">{{details.inspection_date | date: 'dd MMM yyyy'}}</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-list>
