<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Equipment QR Scan</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <mdi-icon name="flash-circle" [color]="(isOnline == true) ? 'j3secondary': 'j3note'"></mdi-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="dark" class="barcode-toolbar">
    <div text-center>
      <span class="typo-r12" ion-text color="j3navs">Position the QR image to fit the frame</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isCordova">
  <div [hidden]="!selectedDevice || !hasPermission">
    <div [hidden]="!hasPermission" class="browser-scanner page-scan-camera-ready">
      <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
      <div class="guides">
        <img class="svg qr-scan-guides" src="./assets/imgs/qr-scan-guides.svg">
      </div>
    </div>
  </div>
  <div *ngIf="!selectedDevice || !hasPermission" class="page-scan-has-problems">
    <div class="header-container">
      <div>
        <div class="header" padding>
          <div class="image-container">
            <img src="./assets/imgs/ico-receive.svg" />
          </div>
          <div class="title" padding>Scan QR Codes</div>
        </div>
      </div>
    </div>
    <div class="body">
      <div padding>
        <div *ngIf="hasPermission === false" translate>Enable the camera to get started.</div>
        <div *ngIf="!hasCameras && hasPermission === true" translate>Please connect a camera to get started.</div>
      </div>
      <div>
        <button ion-button outline class="button-standard" *ngIf="hasPermission === false" (click)="loadCamera()">
          Retry Camera
        </button>
      </div>
    </div>
  </div>
</ion-content>
<ion-content class="qrscanner" no-bounce *ngIf="isCordova">
  <!-- <div class="qrscanner-area" (click)="testScanner()"></div> -->

  <div class="page-scan-has-problems" *ngIf="(currentState == scannerStates.unauthorized || currentState == scannerStates.denied || currentState == scannerStates.unavailable)">
    <div class="header-container">
      <div>
        <div class="header" padding>
          <div class="image-container">
            <img src="./assets/imgs/ico-receive.svg" />
          </div>
          <div class="title" padding>Scan QR Codes</div>
        </div>
      </div>
    </div>
    <div class="body">
      <div padding>
        <div *ngIf="currentState == scannerStates.unauthorized">Enable the camera to get started.</div>
        <div *ngIf="currentState == scannerStates.denied">Enable camera access in your device settings to get
          started.</div>
        <div *ngIf="currentState == scannerStates.unavailable">Please connect a camera to get started.</div>
      </div>
      <div>
        <button ion-button outline class="button-standard" *ngIf="currentState == scannerStates.unauthorized" (click)="authorize()">
          Allow camera access
        </button>
        <button ion-button outline class="button-standard" *ngIf="currentState == scannerStates.denied && canOpenSettings"
          (click)="openSettings()">
          Open settings
        </button>
        <button ion-button outline class="button-standard" *ngIf="currentState == scannerStates.unavailable" (click)="attemptToReactivate()">
          Retry camera
        </button>
      </div>
    </div>
  </div>
  <div class="page-scan-loading-camera" *ngIf="currentState == scannerStates.loading"></div>
  <div class="page-scan-camera-ready" *ngIf="currentState == scannerStates.visible">
    <div class="guides">
      <img class="svg qr-scan-guides" src="./assets/imgs/qr-scan-guides.svg">
    </div>
    <div class="scanner-controls">
      <span *ngIf="canEnableLight" class="icon-flash" [ngClass]="{'active': lightActive}" (click)="toggleLight()"></span>
      <span *ngIf="canChangeCamera" class="icon-camera-toggle" [ngClass]="{'active': cameraToggleActive}" (click)="toggleCamera()"></span>
    </div>
  </div>
</ion-content>
